<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Register | MVC Auth App</title>
		<link rel="stylesheet" href="styles/style.css" />
	</head>
	<body>
		<div class="container">
<% if (error_msg.length > 0) { %>
    	<div class="flash-error">
			<%= error_msg %>
		</div>
<% } %>

<% if (success_msg.length > 0) { %>
		<div class="flash-success">
			<%= success_msg %>
		</div>
<% } %>
			<div class="card">
				<h2>Create Account ✨</h2>
				<p class="tagline">Join us and get started in seconds.</p>

				<form action="/register" method="POST">
					<div class="form-group">
						<label>First Name</label>
						<input type="text" name="firstName" value="<%=firstNameValue ? firstNameValue : ''%>" />
						<small class="error"><%=firstNameError && firstNameError.msg%></small>
					</div>

					<div class="form-group">
						<label>Last Name</label>
						<input type="text" name="lastName" value="<%=lastNameValue ? lastNameValue : ''%>"  />
						<small class="error"><%=lastNameError && lastNameError.msg%></small>
					</div>

					<div class="form-group">
						<label>Email</label>
						<input type="text" name="email" value="<%=emailValue ? emailValue : ''%>" />
						<small class="error"><%=emailError && emailError.msg%></small>
					</div>

					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password"  value="<%=passwordValue ? passwordValue : ''%>" />
						<small class="error"><%=passwordError && passwordError.msg%></small>
					</div>

					<div class="form-group">
						<label>Confirm Password</label>
						<input
							type="password"
							name="confirmPassword"
							value="<%=confirmPasswordValue ? confirmPasswordValue : ''%>"
						/>
						<small class="error"><%=confirmPasswordError && confirmPasswordError.msg%></small>
					</div>

					<button type="submit">Register</button>
				</form>

				<p class="switch">
					Already have an account?
					<a href="/login">Login here</a>
				</p>
			</div>
		</div>
	</body>
</html>
